body
{
    background-color: rgba(0, 255, 213, 0.829);
}
h1
{
    text-align: center;
    text-decoration: underline;
}
table
{
    width: 35%;
    border: 0.1px solid black;
    border-collapse: collapse;
    text-align: center;
    border-spacing: 1px;
    padding: 10px;
}
th
{
    border: 0.1px solid black;
    text-align: center;
    background-color: rgb(255, 122, 162);
    height: 45px;
}
td
{
    border: 0.1px solid black;
    text-align: center;
    background-color:whitesmoke;
}
